body{
	margin:0px;
	padding:10px;
	font-family:"areal"

}

#input-el{
	width:100%;
	margin-bottom:5px;
	padding:10px;
	box-sizing:border-box;

}

#input-btn{
	padding: 5px 10px;
	background-color: #5f9341;
	color: #ffffff;
	font-weight: bold;
	border:none;
}
