body{
	margin: 0px;
	padding: 0px;
	min-width: 400px;
	min-height: 550px;
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	text-align: center;
}

h1{
	margin-bottom: 0px;
	margin-top: 50px;
	color: #a2d2ff;
}
#submit-btn{
	padding: 10px ;
	border : none;
	font-weight: bold;
	width: 81%;
	color: #ffffff;
	background-color: #a2d2ff;
}

#submit-btn:hover{
	background-color:#81a8cc;
}
#input-el{
	padding: 10px;
	margin-bottom: 10px;
	width: 80%;
	font-size: 20px;
	text-align: center;
}
#input-el:hover {
	border: 1px soild #a2d2ff;
}

#back-btn{
	color: #81a8cc;
	cursor: pointer;
}
.weather{
	display: none;

}

#weather-img{
	height: 100px;
}

#weather-temprature{

	font-size: 40px;
	font-weight: bold;
}
#weather-location{
	font-style: italic;
}

.err{
	color:red;
}
.wait{
	color:green;
}
