body{
	margin: 0px;
	padding: 0px;
	min-width: 400px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

h1{
	margin-bottom: 0px;
	margin-top: 50px;
	color: #a2d2ff;
}
#submit-btn{
	padding: 10px 20px;
	border : none;
	font-weight: bold;
	margin: 5px;
	color: #ffffff;
	background-color: #a2d2ff;
	border-radius: 5px;
}

#input-el{
	padding: 10px;
	margin: 5px;
	font-size: 20px;
	text-align: center;
}
#input-el:hover {
	border: 1px soild #a2d2ff;
}

