body , div {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #00b4d8;
   
}

button,input{
    font-family: 'Quicksand', sans-serif;
}

h2{
    color: #ffffff;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  
}

#inpt-btn-el , #clr-btn-el{
    background-color: #00b4d8;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 5px; 
   
      
}
#input-el{
    font-size: large;
    padding: 5px 10px;
    text-align: center;
}

#items-el > li{
    color:#000000;
    list-style: none;
}