body{
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 18px;
    background-color: #219ebc;
    font-family: 'Quicksand', sans-serif;
}

.main{
   
    position: absolute;
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    border-radius: 7px;

}
h2{
    align-items: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
}

#input-el{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 452px;
}

span{
    padding:28px;
    margin-bottom: 50px;
    cursor: pointer;
}

span:hover{
    color: #219ebc;
}


li{
    list-style: none;
    font-size: 20px;
}

input,button {
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
}

#space{

    margin-bottom: 60px;
}

.check{

    margin-right: 20px;
}