body{
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 18px;
    background-color: #219ebc;
    font-family: 'Quicksand', sans-serif;
}

.main{
   
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    border-radius: 7px;
    overflow: hidden;

}
h2{
    position:absolute;
    left: 46%;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 160px;
}

#input-el{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 452px;
}

span{
    padding:28px;
    cursor: pointer;
    color: #484444;
}

span:hover{
    color: #219ebc;
}

li{
    list-style: none;
    font-size: 20px;
}

input,button {
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
}

#space{
    margin-bottom: 40px;
}

.check{
    margin-right: 20px;
}

.selected{
    color: #219ebc;
}